---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

---

<PageLayout meta={{ title: "Home" }}>
	<section class="space-y-8">
		<p>
			I'm <a href="/about" target="_self" class="cactus-link">Ştefan</a>, a results-driven Senior Software Engineer with 7 years of hands-on experience designing and building cloud-native projects.
		</p>
    <p>
      Feel free to <a class="cactus-link" href="mailto:hello@stefanmuraru.com">reach out</a> with projects or ideas for which you might need help (or just to say hello). I'll be upfront and let you know if I'm not the right person for it.
    </p>
		<SocialList />
  </section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
